@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');

*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

html{

  font-family: 'Montserrat', sans-serif;

  font-size: 100%;

}

body{

  background-color: #DBE2E9;

}

img{

  width: 100%;

  height: 100%;

  object-fit: cover;

}

section{

  min-height:100vh;

  width: 100%;

  display: flex;

  align-items: center;

  justify-content: center;

  margin: 100px 0;

}

.container{

  background-color: white;

  width: 90%;

  max-width: 900px;

  margin: 0 auto;

  box-shadow: 0px 0px 61px 7px #5e849c40;

  padding: 50px 20px;

  border-radius: 20px;

  text-align: center;

}

.header{

  display: flex;

  flex-direction: column;

  align-items: center;

}

.header h1{

  cursor: pointer;

  font-size: 40px;

  font-weight: 900;

  letter-spacing: -2px;

}

form{

  margin-top: 30px;

  width: 80%;

  max-width: 300px;

  position: relative;

}

input{

  border: none;

  border-bottom: 2px solid rgba(128, 128, 128, 0.479);

  font-size: 20px;

  width: 100%;

  outline: none;

  color: gray;

  background-color: transparent;

}

input::placeholder{

  opacity: .5;

  color: gray;

  font-family: 'Montserrat';

}

form ion-icon{

  position: absolute;

  right: 0;

  font-size: 20px;

  opacity: .5;

  color: gray;

}

.gallery{

  width: 100%;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;

  margin-top: 50px;

  grid-gap: 20px;

}

.item{

  width: 100%;

  height: 300px;

  position: relative;

  overflow: hidden;
}
